@{
  Layout = "_Layout";
}
<h2>I'm sorry there are no clients with that name, would you like to add a new client?</h2>
<p>@Html.ActionLink("Add new client","Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>